@model Nop.Plugin.Widgets.DiscountInfo.Models.ConfigurationModel
@{
    Layout = "_ConfigurePlugin";
}

@await Component.InvokeAsync("StoreScopeConfiguration")

<form asp-controller="WidgetsDiscountInfo" asp-action="Configure" method="post">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Caption_OverrideForStore" asp-input="Caption" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Caption" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Caption" />
                        <span asp-validation-for="Caption"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        &nbsp;
                    </div>
                    <div class="col-md-9">
                        <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>